* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1280px;
  margin: auto;
  background-color: 	#66CDAA;
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffff33;
}

footer{
  text-align: center;
  padding: 20px;
  
  font-weight: bold;
  background-color: #ffffff33;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: 	#5F9EA0;
  padding: 10px;
  margin: 20px 0;
}

.pokeBolaEspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 0 10px;
}
.pokeBolaEspace:hover {
  transform: scale(1.2); 
  
}
.imgPokeBola {
  height: 70px;
}

p {
  
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

/* Extras caso use cards futuramente */
.card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin:20px;
}

.card-conteudo {
  
  padding: 10px;
}